<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    
    <title>rapatao.com</title>
    <link rel="preload" href="index.css" as="style" type="text/css">
    <link rel="stylesheet" href="index.css" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        
        <header class="site-intro">
            <a href="https://www.rapatao.com/">
                <img src="https://www.rapatao.com/images/avatar-pixel.gif" class="square" width="100" alt="Luiz H. Rapatão">
            </a>
            <header>
                <h1>Luiz H. Rapatão</h1>
            </header>
            <main>
                <p>Senior Software Engineer</p>
            </main>
            <footer>
                <ul class="socnet-icons">
                    <li><a href="https://github.com/rapatao" target="_blank" rel="noopener" title="GitHub" class="fa fa-github"></a></li>
                    <li><a href="https://linkedin.com/in/rapatao" target="_blank" rel="noopener" title="LinkedIn" class="fa fa-linkedin"></a></li>
                    <li><a href="https://instagram.com/luizrapatao" target="_blank" rel="noopener" title="Instagram" class="fa fa-instagram"></a></li>
                    <li><a href="https://twitter.com/rapatao" target="_blank" rel="noopener" title="Twitter" class="fa fa-twitter"></a></li>
                    <li><a href="https://calendly.com/rapatao" target="_blank" rel="noopener" title="Twitter" class="fa fa-calendar"></a></li>
                    <li><a href="mailto:rapatao@rapatao.com" target="_blank" title="Email" class="fa fa-envelope"></a></li>
                </ul>
            </footer>
        </header>
        
        <main class="content">
            <article class="post">
                <h1>Post title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales in elit ac fringilla.</p>
                <p>Nunc sagittis enim ex, sed efficitur nisl maximus ac. Nullam tincidunt eleifend eros, at bibendum diam ullamcorper vel. Suspendisse vestibulum id ligula non vehicula. Cras eleifend turpis in orci ultricies, at condimentum est interdum. Duis diam nunc, eleifend ut auctor non, sollicitudin in felis. Nulla accumsan, dolor non ullamcorper tristique, nibh enim dictum nisl, a sodales ante mi quis magna. Pellentesque dui turpis, convallis eu tincidunt sit amet, dignissim sit amet nisl. Quisque bibendum quam ut ipsum ullamcorper rhoncus. Donec ac nisi at turpis dictum fermentum.</p>
                <p>Morbi lacus nisi, feugiat in cursus vitae, convallis scelerisque felis. Vivamus egestas tincidunt egestas. Donec condimentum feugiat porttitor. Nunc non orci lacus. Pellentesque massa lorem, efficitur vitae sapien quis, placerat porttitor nulla. Duis nunc metus, facilisis quis dui et, dictum euismod turpis. Aenean egestas nec sem at placerat. Nunc pharetra euismod leo in convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </article>
            <article class="post">
                <h1>long post that at the begining of the blog post</h1>
                <p>Suspendisse ornare quam vel arcu viverra aliquam. Sed vel libero ligula. Sed commodo lorem in gravida pulvinar. Integer sit amet aliquet nibh. Integer suscipit velit convallis volutpat ornare. Ut maximus odio nibh, vitae dignissim ipsum placerat ac. Nulla facilisis velit non nisi rutrum lobortis in at eros. Nam et lectus id quam ultrices laoreet vitae eget est. Curabitur vel diam metus. In bibendum augue ac pharetra pharetra.</p>
                <p>Nunc euismod at turpis bibendum fermentum. Nulla viverra dapibus leo, id scelerisque nisi semper vitae. Sed sit amet lacus enim. Duis ut lacus arcu. Mauris interdum ante ac lacus commodo pharetra. Mauris venenatis nisi malesuada facilisis varius. Aenean luctus libero a cursus dignissim. Fusce porttitor commodo urna, in sodales ex luctus a.</p>
                <p>Vestibulum tempor libero at convallis tempus. Quisque quis ipsum nec massa accumsan ornare. Duis scelerisque mi fermentum enim egestas condimentum. Donec auctor fringilla facilisis. Etiam vitae hendrerit ante, ac aliquet neque. Duis aliquam dolor quis mattis maximus. Aliquam convallis justo nec sollicitudin luctus. Donec euismod dui urna, eget vestibulum ligula tristique quis. Integer venenatis varius felis, in convallis nibh gravida id. Aenean massa justo, molestie ac magna eget, vehicula viverra augue. Donec fermentum eros eu lacus accumsan, nec placerat mi tempor. Duis ornare neque ac nunc vehicula, ac ultricies leo rhoncus. Morbi ultricies ligula non enim imperdiet, non fermentum velit ullamcorper. Etiam ut condimentum risus, et facilisis est. Praesent ut interdum quam, vel eleifend diam. Etiam eu lobortis est.</p>
                <p>Quisque fringilla eu eros et suscipit. Praesent ut felis vehicula, viverra nibh viverra, ullamcorper ex. Proin eu lectus gravida, viverra mauris at, facilisis massa. Nullam convallis enim eu ornare malesuada. Nullam dapibus nisi et hendrerit fermentum. Duis dolor nisl, convallis at viverra sit amet, malesuada eu lorem. Aliquam semper, erat non tristique rhoncus, neque diam bibendum ex, in semper justo orci ut ligula. Vestibulum congue augue non aliquet dignissim. Duis sagittis scelerisque lacus ut tincidunt. Fusce ut bibendum ipsum. Etiam et posuere nisi. Morbi quis massa ligula. Pellentesque tempor vitae nisi eu tincidunt.</p>
                <p>Duis accumsan urna sed ipsum molestie molestie. Integer pulvinar vestibulum dapibus. Vestibulum varius placerat erat vel sollicitudin. Quisque rhoncus bibendum tellus nec varius. Cras non dapibus nunc, pellentesque placerat mauris. Suspendisse mollis ante non molestie vestibulum. In hac habitasse platea dictumst. Phasellus faucibus vulputate erat ut ullamcorper.</p>
            </article>
        </main>
        
        <section class="recent-posts">
            <header>
                <h2>Recent posts</h2>
            </header>
            <article class="mini-post">
                <h1>latest post</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales in elit ac fringilla.</p>
            </article>
            <article class="mini-post">
                <h1>latest post with a long title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales in elit ac fringilla.</p>
            </article>
            <article class="mini-post">
                <h1>latest post with a very long title that uses a lot os space</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales in elit ac fringilla.</p>
            </article>
        </section>
        
    </div>
</body>

</html>