@import "../helpers/defaults";

.highlight {
  overflow-x: scroll;
  border: $border;
  padding: $spacing;
  background-color: $post_highlight_background_color;
  border-radius: $spacing;
  margin-bottom: $spacing;
  font-family: $code_font_family;

  @import "../externals/highlight";

  pre {
    width: $content_min_width; // FIXME: this doesn't make sense, but works

    code {
      display: inline-block;
      margin-right: $spacing;
    }
  }
}
