@import "../helpers/defaults";

article.post {
  background-color: $post_background_color;
  margin: $spacing 0 $spacing 0;
  padding: $spacing;
  border-radius: $spacing;
  border: $border;

  p, ul {
    padding-bottom: $spacing;

    a {
      text-decoration: underline;
    }
  }
}
