@import "../helpers/defaults";

.site-intro {
  text-align: center;
  margin-bottom: $spacing;

  color: $text_color;

  img.avatar {
    width: 100px;
  }

  .socnet-icons {
    display: flex;
    flex-flow: row;
    gap: $spacing;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: $spacing;
  }
}
