@import "defaults";

@media (min-width: $side_width + $content_min_width + ($spacing*3)) {
  .wrapper {
    max-width: $wrapper_width;
    min-width: $side_width + $content_min_width + ($spacing*3);

    display: grid;
    grid-gap: $spacing;
  }

  .site-intro, .recent-posts {
    width: $side_width;
  }
  .site-intro {
    grid-area: 1/1/1/1;
  }
  .recent-posts {
    grid-area: 2/1/2/1;
  }

  .content {
    grid-area: 1/2/4/4;
    min-width: $content_min_width;
    max-width: $content_max_width;
  }
}
