{{ define "content" }}

    <section class="container page">
        {{ range $.Site.Data.experience.list }}
        <article>
            <header>

                <div class="post-title">
                    <h1 class="title">{{ .company }}</h1>
                </div>
                <div class="post-meta">
                    {{range $key, $value := .title}} 
                        {{if eq (string $key) (string $.Language)}}
                            {{$value}}
                        {{end}}
                    {{end}}
                    &nbsp;&nbsp;
                    <small>
                        <i class="fas fa-location-arrow"></i> São Paulo, SP
                    </small>
                    &nbsp;&nbsp;
                    <small>
                        <i class="fas fa-calendar"></i> 
                        {{range $key, $value := .period.start}} 
                            {{if eq (string $key) (string $.Language)}}
                                {{$value}}
                            {{end}}
                        {{end}}
                        -
                        {{range $key, $value := .period.end}} 
                            {{if eq (string $key) (string $.Language)}}
                                {{$value}}
                            {{end}}
                        {{end}}
                    </small>
                </div>
            </header>
            
            <div>
                {{range $key, $value := .description}} 
                    {{if eq (string $key) (string $.Language)}}
                        {{ range $value }}
                            {{ . }}<br/>
                        {{ end }}
                    {{end}}
                {{end}}
            </div>

            <footer>
                <strong>{{if eq (string $.Language) "en"}}Technologies used{{else}}Tecnologias utilizadas{{end}}</strong>: {{ delimit (sort .tags) ", " }}.
            </footer>
        </article>
        {{ end }}
    </section>

{{ end }}
