<!DOCTYPE html>
<html lang="{{ .Page.Language | default " en" }}">
{{ partial "head/head" . }}
<body>
<div class="wrapper">

    {{ partial "intro/intro" . }}

    <main class="content">
        {{ block "main" . }}{{ end }}
    </main>

    <section class="recent-posts">
        <header>
            <h2>Recent posts</h2>
        </header>
        <article class="mini-post">
            <h1>latest post</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In
                sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae
                vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus
                ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur
                nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui
                non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales
                in elit ac fringilla.</p>
        </article>
        <article class="mini-post">
            <h1>latest post with a long title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In
                sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae
                vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus
                ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur
                nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui
                non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales
                in elit ac fringilla.</p>
        </article>
        <article class="mini-post">
            <h1>latest post with a very long title that uses a lot os space</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur malesuada dui id condimentum. In
                sapien ante, elementum eget blandit id, congue a augue. Nam sagittis diam at lectus gravida, vitae
                vestibulum velit convallis. Nullam id congue ipsum, suscipit dignissim sapien. Quisque tincidunt tempus
                ipsum. Donec mattis non est id porttitor. Etiam eu metus mattis, aliquam massa vestibulum, consectetur
                nibh. Donec volutpat velit et nulla elementum, bibendum sollicitudin mi pulvinar. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sem metus, faucibus ac dui
                non, suscipit sodales erat. Nullam a justo cursus, porttitor purus eget, tempor mauris. Vivamus sodales
                in elit ac fringilla.</p>
        </article>
    </section>
</div>
</body>
</html data-check="rapatao.com">
