{{ define "main" }}
  {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections) (.Data.Pages) ) }}
  {{ range $paginator.Pages }}
    {{ partial "list/content-list" . }}
  {{ end }}

  <div class="post-pagination">
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}" class="button left"><span> &lt; </span></a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="button right"><span> &gt; </span></a>
    {{ end }}
  </div>
{{ end }}
