@import "../../defaults";

img {
  max-width: 100%;

  &[src$='#center'] {
    display: block;
    margin: $spacing auto;
  }

  &[src$='#floatleft'] {
    float: left;
    margin-right: $spacing;
  }

  &[src$='#floatright'] {
    float: right;
    margin-left: $spacing;
  }
}
