@import "../link";

article.post {
  background-color: $post_background_color;
  margin: $spacing 0 $spacing 0;
  padding: $spacing;
  border-radius: $spacing;
  border: $border;

  p,ul {
    padding-bottom: $spacing;

    a {
      @extend %link;

      text-decoration: underline !important;
    }
  }

  @import "images";
  @import "highlight";
  @import "blockquote";
  @import "actions";
  @import "code";
}
