{{ define "main" }}
  {{ range .Data.Terms.ByCount }}
    <article class="post">
    
      <div class="title">
        <h1 class="review-title">
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </h1>
      </div>

      <section id="preview-posts">
        {{ range first 2 .Page.Data.Pages }}
          <article class="preview-post">
            {{ .Render "featured" }}
            <header>
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <time class="published" datetime="{{ .Date }}">{{ .Render "date" }}</time>
            </header>
          </article>
        {{ end }}
      </section>

      {{ if gt .Page.Data.Pages 2 }}
        <a href="{{ .Page.Permalink }}" class="button">
          <span>{{ i18n "see_more" }}</span>
        </a>
      {{ end }}

    </article>
  {{ end }}
  {{ $.Scratch.Set "showCategories" false }}
{{ end }}
