{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
        <span class="post-date">Published: {{ .Date.Format "Jan 02, 2006" }}</span>
    </div>
    <div class="content post-content-area">
        {{ .Content }}
    </div>
</article>

<div class="post-navigation">
    {{ if .PrevInSection }}
    <div class="nav-prev">
        <a href="{{ .PrevInSection.RelPermalink }}">&lt; PREVIOUS POST: {{ .PrevInSection.Title }}</a>
    </div>
    {{ end }}
    {{ if .NextInSection }}
    <div class="nav-next">
        <a href="{{ .NextInSection.RelPermalink }}">NEXT POST: {{ .NextInSection.Title }} &gt;</a>
    </div>
    {{ end }}
</div>
{{ end }}
