{{ if .Site.Params.Reaktions.enabled }}
<footer class="post-action">
    <div id="reaktions" data-path="{{ .Page.Permalink }}"></div>
    {{ if not .Site.Params.Reaktions.enableDevelop }}
    <script lang="application/javascript" type="module" defer src="{{ "/js/reaktions.js" | relURL }}"></script>
    {{ else }}
    <script lang="application/javascript" type="module" defer src="http://localhost:8080/reaktions.js"></script>
    {{ end }}

    <noscript>Please enable JavaScript to react with this post</noscript>
</footer>
{{ end }}
