<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_tracking_id = "rapatao-20";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_default_search_phrase = "{{ .Get "search_phrase" }}";
    amzn_assoc_default_category = "Books";
    amzn_assoc_linkid = "9a9d07b4cc742fbc408405199ea65556";
    amzn_assoc_search_bar = "false";
    amzn_assoc_title = "";
    amzn_assoc_default_browse_node = "283155";
    amzn_assoc_rows="1";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
