//$background_color: #605856;
$background_color: #D0CCD0;

$spacing: 10px;

$text_color: #2E4052;
$text_font_size: 18px;
$text_font_family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$link_color: #274156;
$link_hover_color: #1C6E8C;

$border_size: 2px;
$border_color: #1C6E8C;
$border_style: solid;
$border: $border_size $border_style $border_color;

$post_link_color: #FFC857;
$post_background_color: #FBFCFF;

$post_highlight_background_color: #FFFFFF;

$code_font_family: courier new, monospace;
