@import "defaults";
@import "reset";

body {
  font-family: $text_font_family;
  font-size: $text_font_size;
  background-color: $background_color;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;

  color: $text_color;
}

.wrapper {
  margin: $spacing;
  max-width: 590px;

  @import "partials/titles";
  @import "site-intro";
  @import "content";
  @import "recent-posts";
}

@import "responsive";
