@import "helpers/defaults";
@import "helpers/reset";

body {
  font-family: $text_font_family;
  font-size: $text_font_size;
  background-color: $background_color;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;

  color: $text_color;
}

.wrapper {
  margin: 0 $spacing;
  max-width: 590px;
}

@import "partials/titles";
@import "partials/link";

@import "partials/header";
@import "partials/site-intro";
@import "partials/post";
@import "partials/recent";

@import "partials/images";
@import "partials/pagination";
@import "partials/actions";

@import "partials/blockquote";
@import "partials/code";
@import "partials/highlight";

@import "helpers/responsive";
