@import "partials/link";

.site-intro {
  text-align: center;
  margin-bottom: $spacing;

  color: $text_color;

  img.avatar {
    width: 100px;
  }

  .socnet-icons {
    display: inline-block;
    font-size: 32px;

    li {
      display: inline;
    }

    a {
      @extend %link
    }
  }

}
